<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>

<p th:text="${book.getName + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>


<div th:if="${book.getOwner()}">
    <label for="owner">Book`s owner:</label>
    <p th:text="${owner.getName()}" id="owner">VALUE</p>
    <form th:method="DELETE" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="release book">
    </form>
</div>
<div th:unless="${book.getOwner()}">
    <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
        <p>this book is free. who do you want to assign it to?</p>
        <label for="person">select person</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
            </option>
        </select>
        <input type="submit" value="assign the book">
    </form>
</div>

<br>
<hr>

<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="delete">
</form>

</body>
</html>